@import "tailwindcss";

* {
  font-family: "Inter";
  scroll-behavior: smooth;
}

.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}

.font-audiowide {
  font-family: "Audiowide", sans-serif;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradient 25s ease-in-out infinite;
  background-size: 400% 400%;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
} /* Width of the scrollbar */
::-webkit-scrollbar-track {
  background: #ffffff;
} /* Track color */
::-webkit-scrollbar-thumb {
  background: #a46ede;
  border-radius: 10px;
} /* Thumb color and rounded corners */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.box {
  position: relative;
  background: rgba(0, 0, 0, 0);
  border-radius: 200px;
  padding: 2px;
  height: 300px;
  width: 300px;
  aspect-ratio: 16/9;
  display: flex;
  justify-content: center;
  align-items: center;
}

@property --deg {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: true;
}

.box::before,
.box::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: conic-gradient(
    from var(--deg) at center,
    indigo,
    purple,
    fuchsia,
    magenta,
    violet,
    violet,
    magenta,
    fuchsia,
    purple,
    indigo
  );
  filter: blur(5px);
  z-index: -2;
  border-radius: inherit;
  animation: autoRotate 2s linear infinite;
  padding: 2px;
}

.box::after {
  filter: blur(10px);
  z-index: -1;
}

@keyframes autoRotate {
  from {
    --deg: 0deg;
  }
  to {
    --deg: 360deg;
  }
}

@media screen and (max-width: 641px) {
  .box {
    width: 250px;
    height: 250px;
  }
}

.box2 {
  position: relative;
  background: rgba(0, 0, 0, 0);
  border-radius: 200px;
  padding: 1px;
  height: 250px;
  width: 250px;
  aspect-ratio: 16/9;
  display: flex;
  justify-content: center;
  align-items: center;
}

@property --deg {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: true;
}

.box2::before,
.box2::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: conic-gradient(
    from var(--deg) at center,
    rgb(104, 0, 130),
    purple,
    fuchsia,
    magenta,
    violet,
    violet,
    magenta,
    fuchsia,
    purple,
    rgb(104, 0, 130)
  );
  filter: blur(5px);
  z-index: -2;
  border-radius: inherit;
  animation: autoRotate 2s linear infinite;
  padding: 1px;
}

.box2::after {
  filter: blur(10px);
  z-index: -1;
}

@keyframes autoRotate {
  from {
    --deg: 0deg;
  }
  to {
    --deg: 360deg;
  }
}
