@import "tailwindcss";

* {
  font-family: "Inter";
  scroll-behavior: smooth;
}

.root {
  --safe-top: env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
  --safe-left: env(safe-area-inset-left);
  --safe-right: env(safe-area-inset-right);
  scroll-padding-top: calc(3.5rem + env(safe-area-inset-top));
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradient 25s ease-in-out infinite;
  background-size: 400% 400%;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
} /* Width of the scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1;
} /* Track color */
::-webkit-scrollbar-thumb {
  background: #a46ede;
  border-radius: 4px;
} /* Thumb color and rounded corners */
::-webkit-scrollbar-thumb:hover {
  background: #555;
} /* Thumb hover color */
